<!--<a-->
  <!--style="cursor: pointer;"-->
  <!--[routerLink]="[index]"-->
  <!--routerLinkActive="active"-->
  <!--class="list-group-item clearfix">-->
  <!--<div class="pull-left">-->
    <!--<h4 class="list-group-item-heading">{{ beer.brand }}</h4>-->
    <!--<p class="list-group-item-text">{{ beer.kind }}</p>-->
  <!--</div>-->
  <!--<span class="pull-right">-->
        <!--<img-->
          <!--[src]="beer.imagePath"-->
          <!--alt="{{ beer.brand }}"-->
          <!--class="img-responsive"-->
          <!--style="max-height: 50px;">-->
      <!--</span>-->
<!--</a>-->

<a
  style="cursor: pointer;"
  [routerLink]="[index]"
  routerLinkActive="active">
  <!--<div class="beer-card"-->
        <!---->
       <!--&gt;-->
    <div class="beer-image">
      <img
        [src]="beer.imagePath"
      >
    </div>
    <div class="beer-info" >
      <h5>{{ beer.brand }}</h5>
      <h6>{{ beer.kind }}</h6>
      <h6>{{ beer.percentage }}</h6>
    </div>
  <!--</div>-->
</a>
