<section class="stores" fxLayout="column">
  <div
    class="btn-group"
    appDropdown dropdown
    fxLayout fxLayoutGap="10px">
    <button
      type="button"
      class="btn btn-primary dropdown-toggle"
      dropdownToggle>
      Manage City <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" *dropdownMenu>
      <li><a class="dropdown-item" style="cursor: pointer;" (click)="onEditCity()">Edit City</a></li>
      <li><a class="dropdown-item" style="cursor: pointer;" (click)="onDeleteCity()">Delete City</a></li>
    </ul>
    <button type="button" class="btn btn-danger" (click)="onBack()">Go back</button>
  </div>

  <div>
    <img
      [src]="city.imagePath"
      alt="{{ city.title }}"
      class="img-detail"
      style="max-height: 300px;">
  </div>

  <div class="title">
    <h1>{{ city.title }}</h1>
  </div>

  <div >
    <h5>Province:</h5>
  </div>
  <p>{{city.province}}</p>

  <div>
    <h5>Description:</h5>
  </div>
  <p>{{ city.description }}</p>


</section>
<button type="button" class="btn btn-primary"
        (click)="isCollapsed = !isCollapsed">Show Stores
</button>
<hr>
<app-store-list *ngIf="city"
                [collapse]="isCollapsed"
                [cityStores]="city.stores"
                class="card card-block card-header"></app-store-list>
