<section class="stores">
    <form [formGroup]="beerForm" (ngSubmit)="onSubmit()">
      <input
        type="hidden"
        id="_id"
        formControlName="_id"
        class="form-control">
          <div class="button-group">
            <button
              type="submit"
              class="btn btn-success"
              [disabled]="!beerForm.valid">Save</button>
            <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
          </div>
          <div>
            <span
              class="help-block"
              *ngIf="!beerForm.valid && beerForm.touched" >*Please enter valid data</span>
          </div>
          <div class="form-group" fxLayoutWrap>
            <label for="brand" fxFlex="10%" fxFlex.xs="30%" fxFlex.sm="30%">Brand:</label>
            <input
              type="text"
              id="brand"
              formControlName="brand"
              class="form-control"
              fxFlex="90%">
          </div>
          <div class="form-group" fxLayoutWrap>
            <label for="imagePath" fxFlex="10%" fxFlex.xs="30%" fxFlex.sm="30%">Image URL:</label>
            <input
              type="text"
              id="imagePath"
              formControlName="imagePath"
              class="form-control"
              #imagePath
              fxFlex="90%">
          </div>
          <img [src]="imagePath.value" class="img-edit">
          <div class="form-group" fxLayoutWrap>
            <label for="brewery" fxFlex="10%" fxFlex.xs="30%" fxFlex.sm="30%">Brewery:</label>
            <input
              type="text"
              id="brewery"
              formControlName="brewery"
              class="form-control"
              fxFlex="90%">
          </div>
          <div class="form-group" fxLayoutWrap>
            <label for="kind" fxFlex="10%" fxFlex.xs="30%" fxFlex.sm="30%">Kind:</label>
            <input
              type="text"
              id="kind"
              formControlName="kind"
              class="form-control"
              fxFlex="90%">
          </div>
          <div class="form-group" fxLayoutWrap>
            <label for="percentage" fxFlex="10%" fxFlex.xs="30%" fxFlex.sm="30%">Percentage:</label>
            <input
              type="text"
              id="percentage"
              formControlName="percentage"
              class="form-control"
              fxFlex="90%">
          </div>
    </form>
</section>
