
  <section>
    <form
      [formGroup]="cityForm"
      (ngSubmit)="onSubmit()"
      >
      <input
        type="hidden"
        id="_id"
        formControlName="_id"
        class="form-control"
        >
      <div class="button-group">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!cityForm.valid"
        >Save</button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="onCancel()"
        >Cancel</button>
      </div>
      <span
        class="help-block"
        *ngIf="!cityForm.valid && cityForm.touched" >*Please enter valid data</span>
      <div class="form-group" fxLayoutWrap>
        <label
          for="title"
          fxFlex="10%" fxFlex.xs="30%" fxFlex.sm="30%">Title:</label>
        <input
          type="text"
          id="title"
          formControlName="title"
          class="form-control"
          fxFlex="90%">
      </div>
      <div
        class="help-block"
        *ngIf="!cityForm.get('title').valid && cityForm.get('title').touched"
        fxLayout>
            <span
              *ngIf="cityForm.get('title').errors['required']"
              fxFlexOffset="10%"
              fxFlexOffset.xs="0%" fxFlexOffset.sm="0%">
              *Please enter a title
            </span>
        <span
          *ngIf="cityForm.get('title').hasError('minlength')"
          fxFlexOffset="10%"
          fxFlexOffset.xs="0%" fxFlexOffset.sm="0%">
              *The minimal length of this field is 3 characters
            </span>
        <span
          *ngIf="cityForm.get('title').hasError('maxlength')"
          fxFlexOffset="10%"
          fxFlexOffset.xs="0%" fxFlexOffset.sm="0%">
                    *The maximum length of this field is 20 characters
                  </span>

      </div>
      <div class="form-group" fxLayoutWrap>
        <label for="imagePath" fxFlex="10%" fxFlex.xs="30%" fxFlex.sm="30%">Image URL:</label>
        <input
          type="text"
          id="imagePath"
          formControlName="imagePath"
          class="form-control"
          #imagePath
          fxFlex="90%">
      </div>
      <img [src]="imagePath.value" class="img-edit">
      <div class="form-group" fxLayoutWrap>
        <label for="description" fxFlex="10%" fxFlex.xs="30%" fxFlex.sm="30%">Description:</label>
        <input
          type="text"
          id="description"
          formControlName="description"
          class="form-control"
          fxFlex="90%">
      </div>
      <div
        class="help-block"
        *ngIf="!cityForm.get('description').valid && cityForm.get('description').touched"
        fxLayout>
            <span
              *ngIf="cityForm.get('description').errors['required']"
              fxFlexOffset="10%"
              fxFlexOffset.xs="0%" fxFlexOffset.sm="0%">
              *Please enter a description
            </span>
        <span
          *ngIf="cityForm.get('description').hasError('minlength')"
          fxFlexOffset="10%"
          fxFlexOffset.xs="0%" fxFlexOffset.sm="0%">
              *The minimal length of this field is 5 characters
            </span>
        <span
          *ngIf="cityForm.get('description').hasError('maxlength')"
          fxFlexOffset="10%"
          fxFlexOffset.xs="0%" fxFlexOffset.sm="0%">
                    *The maximum length of this field is 200 characters
                  </span>

      </div>
      <div class="form-group" fxLayoutWrap>
        <label for="province" fxFlex="10%" fxFlex.xs="30%" fxFlex.sm="30%">Province:</label>
        <input
          type="text"
          id="province"
          formControlName="province"
          class="form-control"
          fxFlex="90%"
          >
      </div>
      <div
        class="help-block"
        *ngIf="!cityForm.get('province').valid && cityForm.get('province').touched"
        fxLayout>
            <span
              *ngIf="cityForm.get('province').errors['required']"
              fxFlexOffset="10%"
              fxFlexOffset.xs="0%" fxFlexOffset.sm="0%">
              *Please enter a province
            </span>
        <span
          *ngIf="cityForm.get('province').hasError('minlength')"
          fxFlexOffset="10%"
          fxFlexOffset.xs="0%" fxFlexOffset.sm="0%">
              *The minimal length of this field is 7 characters
            </span>
        <span
          *ngIf="cityForm.get('province').hasError('maxlength')"
          fxFlexOffset="10%"
          fxFlexOffset.xs="0%" fxFlexOffset.sm="0%">
                    *The maximum length of this field is 13 characters
                  </span>
        <span
          *ngIf="cityForm.get('province').hasError('provinceIsForbidden')"
          fxFlexOffset="10%"
          fxFlexOffset.xs="0%" fxFlexOffset.sm="0%">
                    *Please enter a valid province
                  </span>

      </div>
      <div class="form-group" fxLayoutWrap>
        <label for="stores" fxFlex="10%" fxFlex.xs="40%" fxFlex.sm="40%">Add or Delete Stores:</label>
        <sui-multi-select class="selection form-control" [(ngModel)]="selectedOption"
                          [options]="stores"
                          labelField="title"
                          [isSearchable]="true"
                          #select
                          formControlName="stores"
                          id="stores"
                          fxFlex="90%">
          <sui-select-option *ngFor="let option of select.filteredOptions" [value]="option">
          </sui-select-option>
        </sui-multi-select>
      </div>


    </form>
  </section>

